<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RideWise | Sustainable Travel</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/landing.css">

</head>
<body>

<header class="navbar">
    <div class="logo">
        <img src="../static/images/logo.png" alt="RideWise Logo">
        <!-- <span>RideWise</span> -->
    </div>

    
</header>

<section class="hero">
    <h1>RideWise</h1>
    <h2>Tap . Match . Ride </h2>
    <p>Drive Smart. Travel Green </p>

    <div class="hero-buttons">
        <a href="/login" class="btn-solid large">Login</a>
        <a href="/register" class="btn-outline large">Register</a>
    </div>
</section>

<section class="features">
    <div class="feature-card">
        <h3>🌿Eco-Friendly Rides</h3>
        <p>Choose shared eco rides and reduce emissions while saving fuel.</p>
    </div>

    <div class="feature-card">
        <h3> -> Smart Analytics</h3>
        <p>Track CO₂ savings, eco score, and fuel efficiency in real time.</p>
    </div>

    <div class="feature-card">
        <h3>💰 Save More</h3>
        <p>Shared rides cost less and reward you for greener travel.</p>
    </div>
</section>

<section class="impact">
    <h2>Our Impact So Far</h2>

    <div class="impact-boxes">
        <div class="impact-card">
            <h3>1200+ kg</h3>
            <p>CO₂ Reduced</p>
        </div>

        <div class="impact-card">
            <h3>500+</h3>
            <p>Eco Rides Completed</p>
        </div>

        <div class="impact-card">
            <h3>300+</h3>
            <p>Active Green Riders</p>
        </div>
    </div>
</section>

<section class="cta">
    <h2>Ready to Ride Smart?</h2>
    <h3><a href="/register" class="btn-solid large">Join RideWise Today</a></h3>
</section>

<footer>
    © 2026 RideWise | Sustainable Travel Platform
</footer>

</body>
</html>